<!DOCTYPE html>
<html>
<head>
	<style><%= guess_peg_cols %><%= cor_peg_cols %></style>
	<link rel="stylesheet" type="text/css" href="../stylesheets/board.css">
	<title>Sinatra Mastermind</title>
</head>
<body>
	<div id="page-container">
		<div class ="header"><h1>Sinatra Mastermind</h1></div>
		<div class ="intro"></div>
		<div class = "board-container">
			<div class = "guess-container">
				<%= guess_pegs %>
			</div>
			<div class = "cor-container">
				<%= cor_guess_pegs %>
			</div>
		</div>
		<div class = "input-container">

			<%= guess_text %>
		</div>
		<div class = "footer"> </div>
	</div>
</body>
</html>
