<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/board.css">
	<title>Sinatra Mastermind</title>
</head>
<body>
	<div id="page-container">
		<div class ="header"><h1>Sinatra Mastermind</h1></div>
		
		<div class = "board-container">
			<div class = "guess-container">
				<%= guess_pegs %>
			</div>
			<div class = "cor-guess-container">
				<%= cor_guess_pegs %>
			</div>
		</div>
		<div class = "input-container">
			<form name="input-form" method = "get" action="../player/guess">
				<div class = "select">
					<label for="col1">Choice 1</label>
					<select name = "col1" class = "col-select"><%= col_options %></select>
				</div>
				<div class = "select">
					<label for="col2">Choice 2</label>
					<select name = "col2" class = "col-select"><%= col_options %></select>
				</div>
				<div class = "select">
					<label for="col3">Choice 3</label>
					<select name = "col3" class = "col-select"><%= col_options %></select>
				</div>
				<div class = "select">
					<label for="col4">Choice 4</label>
					<select name = "col4" class = "col-select"><%= col_options %></select>
				</div>
				<div class  = "submit-holder">
					<input type = "submit" " value="Make Guess">
				</div>
			</form>
			</br>
			<p><%= guess_text %></p>
		</div>
		<div class = "footer"> </div>
	</div>
</body>
</html>
